<div class="product show">
  <Product::Image src={{@product.image}}
                  alt="racket-image"
                  style="max-width:100%">

  </Product::Image>
  <h5 class="card-title detail name">{{@product.name}}</h5>
  <h5 class="card-subtitle mb-2 text-muted detail type">{{@product.type}}</h5>
  <div class="card-text">
    <div class="detail brand">
      <span>Brand:</span> {{@product.brand}}
    </div>
    <div class="detail price">
      <span>Price:</span> {{@product.price}}
    </div>
    <LinkTo @route="index">
      Bekijk alle rackets
    </LinkTo>
  </div>
</div>
